body{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;

}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    
}
nav ul, 
nav li{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #727272;;
    transition: all 0.1s linear;
    font-family: arial;
}
nav .active a, 
nav a:hover{
    background-color: #39aae1;
    color: #FFF;
}
#banner{
    background-image: url(../imagens/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}
.column{
    flex-direction: column;
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1{
    color: #FFF;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    
}
.banner_headline h2{
    color: #FFF;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;

}
.banner_options{
    height: 210px;
    display: flex;
}
.banner1,
.banner3,
.banner2 {
    flex: 1;
    color: #FFF;
    padding: 20px;
}
.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}
.banner_title{
    font-size: 21px;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial;
}
.banner_options a{
    display: inline-block;
    border: 1px solid #FFF;
    padding: 5px;
    font-size: 12px;
    color:#FFF;
    text-decoration: none;
}
.banner_options a:hover{
    background-color: #FFF;
    color: #727272;
}
.banner_options .line1{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #39aae1;
    padding-top: 3px;
    padding-bottom:3px;
}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    color: black;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
}
.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}
.widget_departments {
    display: flex;
    flex-wrap: wrap;
}
.widget_departments div {
    width: 125px;
    height: 125px;
    background-color: #36a9e1;
    margin: 10px 20px 10px 0px;
}
.widget_appointment {
    display: flex;
    flex-direction: column;
}
.widget_appointment_text {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
}
.widget_appointment address {
    font-style: normal;
    font-size: 13px;
}

.widget_appointment_contact {
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.widget_appointment_contact a {
    color: #000;
}
.widget img{
    margin-right: 5px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a{
    text-decoration: none;
}
article .news_data{
    display: flex;
}
article .news_posted_at{
    font-size: 12px;
    background-color: #2b4c99;
    color: #FFF;
    padding: 10px;
}
article .news_comments{
    font-size: 12px;
    background-color: #39aae1;
    color: #FFF;
    padding: 10px;
    margin-left: 2px;
}
article .news_thumbnail{
    margin-top: 30px;
}
article .news_thumbnail img{
    width: 100%;
    height: auto;
}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: #000;
}
article .news_resume{
    color: #5c5c5c;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 30px;
}
footer{
    background-color: rgb(14, 14, 36);
    display: flex;
    justify-content: center;
}
.footer_menu{
    display: flex;
    flex: 1;
}
.fm_1, .fm_2, .fm_3{
    flex: 1;
    color: #FFF;
    padding: 20px;
}
.fm_1{
    background-color: #39aae1;
}
.fm_2{
    background-color: #0079c7;
}
.fm_3{
    background-color: #2b4c99;
}
.footer_menu a{
    display: block;
    text-decoration: none;
    color: #FFF;
}
.flexColumn{
    flex-direction: column;
}
.footer_area{
    display: flex;
}
.footer_areaitem{
    flex: 1;
    color: #FFF;
}
footer .widget_title_text{
    color: #FFF;
    text-transform: capitalize
}
.footer_copy{
    border-top: 1px solid #2c2c2c;
    color: #5c5c5c;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
}
.footer_copy a{
    text-decoration: none;
    color: #FFF;
    font-weight: normal;
}
.footer_copy a:hover {
    text-decoration: underline;
}
